/* SidebarMenu.css */
.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .sidebar-menu.open {
    transform: translateX(0);
  }
  
  .sidebar-menu.closed {
    transform: translateX(-100%);
  }
  
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin: 15px 0;
  }
  
  .sidebar-menu a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar-menu a:hover {
    text-decoration: underline;
  }
  
  .menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1001;
  }
  
  /* ContactInfo.css */
.contact-info {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 10px;
    text-align: center; /* Center the content, if desired */
    z-index: 1000; /* Ensure it appears above other content */
  }


  .sidebar-menu ul.dropdown-menu {
    display: none;
    list-style-type: none;
    position: center;
    text-align: center;
    width: 100%;
    padding-right: 20px;
  }
  
  .sidebar-menu ul.dropdown-menu.open {
    display: block;
    text-align: center;
    width: 100%;
    padding-right: 20px;
  }
  
  .sidebar-menu .dropdown-toggle {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    position: fixed;
    text-align: center;
    font-style: Roboto;
    font-size: x-large;
    width: 100%;
    padding: 10px;
  }
  
  